.body {
    font-family: "Roboto", sans-serif !important;
    background-color: #f0f2f5;
}
.header {
    background-color: white;
    box-shadow: 0 5px 5px -4px rgb(209, 208, 208, blue);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.round-fb-icon {
    color: #0866ff;
}
.flex-items-center {
    display: flex;
    align-items: center;
    position: relative;
}
.search {
    width: 240px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    padding-left: 30px;
    margin-left: 8px;
    z-index: 2;
    box-sizing: border-box;
    transition: padding-left 0.3s ease-in-out;
}
.xe3v8dz {
    color: white;
}
.search-lists {
    width: 320px;
    height: 0;
    background-color: white;
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    left: -20px;
    top: -10px;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.001s ease-in-out;
}
.search:focus {
    padding-left: 15px;
}
.search:focus-within + .search-lists {
    height: 400px;
}
.fa-arrow-left {
    margin-left: 30px;
    font-size: 22px;
    color: rgb(169, 169, 169);
    margin-top: 18px;
}
.between-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-bottom: 5px;
}
.between-search h3:first-child {
    font-size: 18px;
    font-weight: 600;
}
.between-search h3:nth-child(2) {
    color: #0866ff;
    cursor: pointer;
    padding: 10px;
}
.between-search h3:nth-child(2):hover {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
}

.avatar-search {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}
.close-search-icon {
    position: absolute;
    right: 14px;
    top: 16px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: gray;
    font-size: 12px;
}
.search-item {
    margin-left: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.search-item:hover {
    background-color: rgb(238, 238, 238);
}
.close-search-icon:hover {
    background-color: rgb(206, 206, 206);
}
.left-width {
    width: 15%;
}
.middle-width {
    width: 40%;
}
.right-width {
    width: 15%;
}
.nav-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    border: none;
}
.nav-item:active {
    color: #0866ff;
    border-bottom: 2px solid #0866ff;
}
.right-header-icon {
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #f8f2f5;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0;
    font-size: 20px;
}
.right-header-icon:hover {
    background-color: #939393;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.nav-item_2 {
    background-color: white;
    border: none;
}
.menu {
    width: 615px;
    height: 0;
    background-color: #f7f8fa;
    position: absolute;
    top: 50px;
    /* padding: 15px; */
    overflow: hidden;
    transition: height 0.001s ease-in-out;
    overflow: scroll;
}
.bars:focus-within + .menu {
    height: 620px;
}
.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.menu h1 {
    font-size: 24px;
    color: #050505;
    font-weight: 600;
    margin: 20px;
}
.menu-info {
    width: 60%;
    background-color: #fff;
    min-height: 1790px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px -4px #747474;
    padding: 10px;
    position: relative;
}
.menu-search {
    width: 40%;
    background-color: #fff;
    height: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 4px -4px #747474;
    height: fit-content;
}
.menu-info_search {
    border: none;
    width: 90%;
    height: 35px;
    border-radius: 19px;
    background-color: #f0f2f5;
    padding-left: 25px;
}
.menu-info_icon {
    position: absolute;
    left: 15px;
    top: 20px;
    color: #9a9a9a;
}
.menu-infor-item {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.menu-info h2 {
    font-size: 20px;
    color: #050505;
    font-weight: 700;
    margin-top: 10px;
}
.menu-info-desc h3 {
    font-size: 20px;
    color: #050505;
    font-weight: 700;
    margin-bottom: 5px;
}
.menu-info-desc p {
    color: #65676b;
    font-size: 18px;
}
.menu-infor-item i {
    color: rgb(90, 90, 213);
    margin-right: 5px;
}

.menu-search {
    padding: 10px;
}
.menu-search h2 {
    color: #060606;
    font-size: 18px;
    font-weight: 600;
}
.menu-search__item {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}
.menu-info-desc h3 {
    color: #060606;
    font-size: 18px;
    font-weight: 500;
}

.sms {
    width: 370px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px -4px #747474;
    position: absolute;
    top: 50px;
    border-radius: 18px;
    overflow-y: scroll;
    transition: height 0.001s ease-in-out;
    
}
.click-icon {
    width: 20px;
    height: 20px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50%;
    font-size: 15px;
    flex-direction: column;
}
.click-icon:hover {
    background-color: gray;
}
.sms-container {
    width: 100%;
    height: 100%;
    padding: 20px;
   
    
}
.sms-header {
    display: flex;
    gap: 190px;
    
}
.sms-header h2 {
    font-size: 22px;
    font-weight: 700;
}
.sms-header__icon button {
    border: none;
    background-color: white;
}
.switch {
    position: relative;
    display: inline-block;
    /* width: 60px;
    height: 34px; */
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.click-menu__item {
    display: flex;
}
.click-menu {
    width: 345px;
    height: 0;
    background-color: #fff;
    border-radius: 18px;
    overflow-y: hidden;
    transition: height 0.001s ease-in-out;
    position: absolute;
    top: 60px;
    right: 100px;
    box-shadow: 4px 4px 4px -4px #747474;
    z-index: 10 ;
}
.click-menu__item {
    margin-left: 10px;
    margin-top: 15px;
    width: 100%;
}
.disappear {
    font-size: 15px;
}
.disappear_2 {
    width: 39%;
}
.disappear_3 {
    right: 2px;
}

.click-menu h2 {
    padding: 20px 20px 0 20px;
}
.click-menu p {
    padding: 10px 20px 0 20px;
}
.switch {
    right: -80px;
}
.click-menu__item h3 {
    margin-left: 20px;
}
.ellipsis:focus-within + .click-menu {
    height: 490px;
    z-index: 10;
}
.rightsss {
    margin-left: 80px;
}
.sms-search {
    margin-top: 15px;
    padding-left: 20px;
    background-color: #f0f2f5;
    width: 310px;
    height: 35px;
    border-radius: 18px;
    position: relative;
    display: flex;
    align-items: center;
}
.sms-search__text {
    outline: none;
    border: none;
    background-color: #f0f2f5;
    margin-left: 10px;
}
.search__icon {
    top: 10px;
    left: 10px;
    position: absolute;
    color: #9a9a9a;
}
.sms-choice {
    display: flex;
    margin-top: 15px;
    gap: 25px;
}
.sms-choice button {
    border: none;
    background-color: white;
    width: 90px;
    height: 40px;
    font-size: 13px;
    font-size: 15px;
    cursor: pointer;
}
.sms-choice-second {
    white-space: nowrap;
}
.sms-choice__active {
    color: #0866ff;
    background-color: #a1cef4 !important;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sms-choice button:hover {
    width: 90px;
    height: 40px;
    border-radius: 25px;
    background-color: #bfb6b6 !important;
    color: #060606;
}
.sms-people {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.sms-people__ava {
    position: relative;
}
.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}
.sms-people-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(28, 231, 28);
    border: 2px solid white;
    position: absolute;
    left: 38px;
    top: 38px;
}
.sms-people__name {
    padding-bottom: 5px;
    font-weight: 600;
}
.active {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    right: 30px;
}
.bell {
    right: 50px;
    position: absolute;
    color: #9a9a9a;
}
.sms-people:hover {
    width: 340px;
    height: 70px;
    background-color: #f3eaea;
    border-radius: 18px;
}
.messenger:focus-within+ .sms{
    height: 660px;
}